

.app-main {
  /*50 = navbar  */
  min-height: calc(100vh - #{$navbarHeight});
  position: relative;
  overflow: hidden;
  //padding: 20px;
  background: #F2F4F9;
  //border: solid 20px #F2F4F9;
  //background: #fff;
}

.navbar {
  height: $navbarHeight;
  line-height: $navbarHeight;
  border-radius: 0 !important;
  border: none !important;
  position: relative;
  color: $navbarText;
  background-color: $navbarBg;
  box-shadow: 0px -5px 10px 2px $navbarShadow;
  display: flex;

  .hamburger-container {
    line-height: 50px;
    height: 50px;
    float: left;
    padding: 0 10px;
    font-size: 0;
  }

  .breadcrumb-container {
    float: left;
  }

  .left-menu {
    height: inherit;
    display: inline-block;
    float: left;
    font-size: 0;
    flex: 1;
  }

  .right-menu {
    float: right;
    height: 100%;
    font-size: 0;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      position: relative;
      //display: inline-block;
      display: inline-flex;
      align-items: center;
      margin: 0 10px;
      height: 100%;
      font-size: 20px;
      color: inherit;
      vertical-align: middle;
      transition: all .3ms linear;

      &:hover {
        //color: ;
        opacity: .6;
        cursor: pointer;
      }
    }

    .right-menu-dropdown {
      height: inherit;
      vertical-align: middle;
    }

    .avatar-container {
      height: 50px;
      margin-right: 20px;
      //margin-left: 10px;
      vertical-align: middle;

      .avatar-wrapper {
        //margin-top: 8px;
        position: relative;
        font-size: 0;
        cursor: pointer;

        line-height: 50px;
        height: inherit;
        //padding: 10px 0;

        .user-avatar {
          cursor: pointer;
          //width: 40px;
          //height: 40px;
          //border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 50px;
  /*line-height: 50px;*/
  line-height: 1;
  padding-left: 10px;
  color: $navbarText;
  background-color: $navbarBg;
  box-shadow: 0px -5px 10px 2px $navbarShadow;
  /*text-align: center;*/
  overflow: hidden;
  font-size: 0;
  z-index: 10;

  & .sidebar-logo-link {
    height: 100%;
    width: 100%;

    & .sidebar-logo {
      display: inline-block;
      width: 195px;
      height: 26px;
      line-height: 1;
      vertical-align: baseline;
      margin-right: 6px;
      margin-top: 13px ;
      float: left;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      padding-bottom: 7px;
      color: $navbarText;
      font-weight: 600;
      line-height: 1;
      font-size: 16px;
      margin-top: 17px;
      //vertical-align: bottom;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}

/* 选择企业下拉框 */
.enterprise-dropdown-link {
  padding: 10px 0;
  height: 50px;
  width: 320px;
  max-width: calc(100vw - 120px - 40px);
  display: block;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  cursor: pointer;

  &--text {
    height: 100%;
    padding: 0 10px;
    background-color: #F4F4F4;

    .el-icon-arrow-down {
      width: 16px;
      min-width: 16px;
      height: 16px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 14px;
      border-radius: 50%;
      color: #979797;
      border: 1.5px solid #979797;
      transition: .38s;
      transform: rotate(0deg);
    }
  }

  &.active {
    .enterprise-dropdown-link--text .el-icon-arrow-down {
      transform: rotate(180deg);
    }
  }

  .el-tag+.el-tag {
    margin-left: 5px;
  }
}

.el-dropdown-menu.enterprise-dropdown-menu {
  &[x-placement^=bottom] {
    margin-top: 5px;
    width: 320px;
    max-width: calc(100vw - 120px - 40px);
  }

  overflow: auto;
  max-height: calc(100vh - 100px);

  .el-dropdown-menu__item {
    line-height: 36px;

    .el-tag+.el-tag {
      margin-left: 5px;
    }
  }
}
